module.exports = {
  server: {
    name: 'copacabana',
    port: 1337,
    version: '0.0.1'
  },
  storage: {
    port: 6379,
    host: 'localhost'
  },
  socket: {
    enable: true,
    logLevel: 1
  },
  events: {
    name: 'copabana'
  }
}